<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <nav class="w-screen2 flex">
        <div class="w-full flex px-4 py-2 justify-start">
            <h1 class="text-red-600 font-bold px-4 py-2">RedSpace</h1>
        </div>
        <div class="w-full flex px-4 py-2 justify-end space-x-1">
            <button type="button" onclick="location.href = '/user/signup'"
                class="px-4 py-2 text-sm bg-red-600 active:bg-red-800 text-white">Sign up</button>
            <button type="button" onclick="location.href = '/user/login'"
                class="px-4 py-2 text-sm bg-gray-600 active:bg-gray-800 text-white">Log In</button>
        </div>
    </nav>
    <script>
        window.addEventListener('load', () => {
            if (localStorage.getItem('token')) {
                location.href = '/dashboard'
            }
        })
    </script>
</body>

</html>